.poster{
border-radius: 10px;
}

.subtitle{
display: flex;
justify-content: space-between;
padding-bottom: 3px;
padding: 0 2px;

}



.white{
 color: white;
}
.title{
width: 100%;
font-size:17px;
text-align: center;
padding: 8px 0;


}
.media{
 display: flex;
 flex-direction: column;
 width: 250px;
 padding: 1rem;
 margin: 1rem 0 ;
 background-color: #282c34;
 border-radius: 10px;
 position: "relative";
 font-family: "Montserrat", sans-serif
}

.media:hover{
 background-color: white;
 color: black;
}

@media (max-width:800px) {
 .media{
  width: 250px;
  margin-bottom: 1rem;
  padding: 1.5rem;

 }
}

@media (max-width:550px) {
 .media{
  width: 90%;
  margin-bottom: 1rem;

 }
}

